@import './mixins.scss';

*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--MainBlack);
}

html {
  font-size: calc(1vw / 19.2);
  overflow: hidden;
}

body {
  @include BodyText;
  background: radial-gradient(103.78% 204.63% at -8.36% 116.34%, #FBFAF9 0%, #FFFEFD 4.17%, #E1EEF2 13.02%, #EFF0F0 31.87%, #E7E8E8 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  height: 100vh;
  overflow: scroll;
  padding: 20rem 80rem;
}

:root {
  --font-family: "Montserrat", sans-serif;
  --MainBlue: #007DB5;
  --MainWhite: #FFFFFF;
  --MainBlack: #252C3A;
  --MainDarkGrey: #90A3A9;
  --MainGrey: #DEE4EB;
}