.page {
  display: flex;
  justify-content: space-between;
}

.model-block {
  width: 748rem;
  max-height: 780rem;
  height: 100%;
  border-radius: 40rem;
  overflow: hidden;
}

.left-block {
  width: 748rem;
  display: flex;
  gap: 40rem;
  flex-direction: column;
  min-height: 860rem;
}

.information {
  width: 972rem;
  height: 860rem;
  padding: 40rem;
  border-radius: 40rem;
  background: #FFFFFF80;
  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 82.96%, rgba(255, 255, 255, 0.2) 100%);
  box-shadow: 0px 4px 24px 8px #FFFFFF1A inset, 16px 24px 16px -16px #FFFFFF1A inset, 0px 10px 25px -15px #0052A04D;
}

.chips-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  margin-top: auto;
}